<div class="dark-wrapper">
        <div class="container inner">
          <div class="row">
            <div class="col-md-3 col-sm-12">
              <h3 class="section-title">Our Executive Board</h3>
              <div class="lead bm25">Meet the team that runs our chapter!</div>
              <p>From left to right, we have our Regent, Vice Regent, Treasurer, Scribe, Corresponding Secretary, and New Member Educator.</p>
               </div>
            <!-- /.col -->
            <div class="col-md-9 col-sm-12">
              <div class="owl-posts team">
                <div class="item post">
                  <figure><img src="<%= gCDN+'/images/portraits/Joanne Peragine Cropped.jpg' %>" alt="" /></figure>
                  <div class="post-content">
                    <h3 class="post-title">Joanne Peragine</h3>
                    <div class="biz-title">Regent</div>
                    <p>The regent oversees all activities and meetings and represents the fraternity at Greek life events. </p>
                    <ul class="social">
                      <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                      <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                      <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
                      <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
                    </ul>
                  </div>
                  <!-- /.post-content --> 
                </div>
                <!-- /.item -->
                <div class="item post">
                  <figure><img src="<%= gCDN+'/images/portraits/Nikos Stathopoulos2 cropped.jpg' %>" alt="" /></figure>
                  <div class="post-content">
                    <h3 class="post-title">Francesca Cardenas</h3>
                    <div class="biz-title">Vice Regent</div>
                    <p>The vice regent assists the president and helps coordinate activities and assist brothers.</p>
                    <ul class="social">
                      <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                      <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                      <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
                      <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
                    </ul>
                  </div>
                  <!-- /.post-content --> 
                </div>
                <!-- /.item -->
                <div class="item post">
                  <figure><img style="margin: 0 0 -33% 0;"src="<%= gCDN+'/images/portraits/Renato Rodrigues.jpg' %>" alt="" /></figure>
                  <div class="post-content">
                    <h3 class="post-title">Renato Rodrigues</h3>
                    <div class="biz-title">Treasurer</div>
                    <p>The treasurer collects member dues, keeps financial records and oversees spending budgets.</p>
                    <ul class="social">
                      <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                      <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                      <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
                      <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
                    </ul>
                  </div>
                  <!-- /.post-content --> 
                </div>
                <!-- /.item -->
                <div class="item post">
                  <figure><img src="<%= gCDN+'/images/portraits/Youssef Elmougy.jpg' %>" alt="" /></figure>
                  <div class="post-content">
                    <h3 class="post-title">Youssef Elmougy</h3>
                    <div class="biz-title">Scribe</div>
                    <p>The scribe is responsible for keeping chapter records, including minutes of meetings and records of all members.</p>
                    <ul class="social">
                      <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                      <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                      <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
                      <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
                    </ul>
                  </div>
                  <!-- /.post-content --> 
                </div>
                <!-- /.item -->
                <div class="item post">
                  <figure><img src="<%= gCDN+'/images/art/team5.jpg' %>" alt="" /></figure>
                  <div class="post-content">
                    <h3 class="post-title">Yulisa Frias</h3>
                    <div class="biz-title">Corresponding Secretary</div>
                    <p>The Corresponding Secretary will stay in contact with other chapters and will oversee all alumni relations.</p>
                    <ul class="social">
                      <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                      <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                      <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
                      <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
                    </ul>
                  </div>
                  <!-- /.post-content --> 
                </div>
                <!-- /.item --> 
                <div class="item post">
                    <figure><img src="<%= gCDN+'/images/portraits/Stephan Duroseau Photoshopped.jpg' %>" alt="" /></figure>
                    <div class="post-content">
                      <h3 class="post-title">Noah Green</h3>
                      <div class="biz-title">New Member Educator</div>
                      <p>The New Member Educator will supply the necessary induction and education to candidates that are fit.</p>
                      <ul class="social">
                        <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
                        <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
                      </ul>
                    </div>
                    <!-- /.post-content --> 
                  </div>
                  <!-- /.item --> 
              </div>
              <!-- /.team --> 
            </div>
            <!-- /.col --> 
          </div>
          <!-- /.row --> 
          
        </div>
        <!-- /.container --> 
      </div>
      <!-- /.dark-wrapper -->
