<!-- header.ejs -->
<!-- contains all the includes -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:image" content="/images/Tilted Gear Red_Yellow.png">
    <link rel="shortcut icon" href="/images/Tilted Gear Red_Yellow.png">
    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <!-- <%- CDN('/css/bootstrap.css', 'css', '', ''); %>
    <%- CDN('/css/settings.css', 'css', '', ''); %>
    <%- CDN('/css/owl.carousel.css', 'css', '', ''); %>
    <%- CDN('/css/custom.css', 'css', '', ''); %>
    <%- CDN('/css/style.css', 'css', '', ''); %>
    <%- CDN('/css/maroon.css', 'css', '', ''); %> -->
    <!-- <%- CDN('/type/fontello.css', 'css', '', ''); %> -->
    <!-- <%- CDN('/type/budicons.css', 'css', '', ''); %> -->
    <!-- <%- CDN('/js/google-code-prettify/prettify.css', 'css', '', ''); %>
    <%- CDN('/js/fancybox/jquery.fancybox.css', 'css', '', ''); %>
    <%- CDN('/js/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.2', 'css', '', ''); %> -->
    <!-- <%- CDN('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic', 'css', '', ''); %>
    <%- CDN('https://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic', 'css', '', ''); %> -->


    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/settings.css" rel="stylesheet">
    <link href="/css/owl.carousel.css" rel="stylesheet">
    <link href="/js/google-code-prettify/prettify.css" rel="stylesheet">
    <link href="/js/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/js/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.2" rel="stylesheet" type="text/css" />
    <link href="/css/custom.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/maroon.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
<link href="/type/fontello.css" rel="stylesheet">
    <link href="/type/budicons.css" rel="stylesheet">
</head>