<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body class="full-layout">
<div id="preloader"><div id="status"><div class="spinner"></div></div></div>
<div class="body-wrapper">
  
  <% include ../partials/navbar %>

  <div class="offset"></div>
  
  
  <div class="light-wrapper">
    <div class="container inner">
      <h3 class="section-title text-center">About the Company</h3>
      <div class="lead text-center">a marketing company turning ideas into beautiful things</div>
      <div class="row">
        <div class="col-sm-4">
          <figure><img src="<%= gCDN+'/images/art/about.jpg' %>" alt="" /></figure>
        </div>
        <div class="col-sm-8">
          <h4>Our Working Place</h4>
          <p>Vestibulum ligut praesent commodo cursus magna, consectetur et. Cum socis natoque penatibus et magnis dis tellus parturient pharetra montes. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
          <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur blandit tempus porttitor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis.</p>
        </div>
      </div>
      <div class="divide50"></div>
      <div class="row">
        <div class="col-sm-4">
          <h4>Our Skills</h4>
          <p>Duis non lectus sit amet est imperdiet cursus elementum vitae eros. Etiam adipiscingmorbi vitae magna tellus.</p>
          <div class="divide5"></div>
          <ul class="progress-list">
            <li>
              <p>CSS/HTML <em>90%</em></p>
              <div class="progress plain">
                <div class="bar" style="width: 90%;"></div>
              </div>
            </li>
            <li>
              <p>jQuery <em>80%</em></p>
              <div class="progress plain">
                <div class="bar" style="width: 80%;"></div>
              </div>
            </li>
            <li>
              <p>Wordpress <em>85%</em></p>
              <div class="progress plain">
                <div class="bar" style="width: 85%;"></div>
              </div>
            </li>
            <li>
              <p>SEO <em>50%</em></p>
              <div class="progress plain">
                <div class="bar" style="width: 50%;"></div>
              </div>
            </li>
          </ul>
          <!-- /.progress-list --> 
        </div>
        <!-- /.col -->
        
        <div class="col-sm-4">
          <h4>Why Choose Us?</h4>
          <p>Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
          <ol class="color">
            <li>Donec ullamcorper nulla non metus auctor.</li>
            <li>Cras justo odio, dapibus ac facilisis in egestas.</li>
            <li>Praesent commodo cursus magna.</li>
            <li>Curabitur blandit tempus porttitor.</li>
            <li>Sed posuere consectetur est at lobortis.</li>
            <li>Aenean lacinia bibendum nulla sed consectetur.</li>
          </ol>
        </div>
        <!-- /.col -->
        
        <div class="col-sm-4">
          <h4>Our Services</h4>
          <div class="divide10"></div>
          <div class="services-2">
            <div class="icon"> <img src="<%= gCDN+'/images/icons/icon-web.png' %>" data-src="<%= gCDN+'/images/icons/icon-web.png' %>" data-ret="<%= gCDN+'/images/icons/icon-web@2x.png' %>" class="retina" alt="" /> </div>
            <!-- /.icon -->
            <div class="text">
              <h5>Responsive Layout</h5>
              <p>Etiam porta malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis.</p>
            </div>
            <!-- /.text -->
            <div class="divide20"></div>
            <div class="icon"> <img src="<%= gCDN+'/images/icons/icon-heart.png' %>" data-src="<%= gCDN+'/images/icons/icon-heart.png' %>" data-ret="<%= gCDN+'/images/icons/icon-heart@2x.png' %>" class="retina" alt="" /> </div>
            <!-- /.icon -->
            <div class="text">
              <h5>Flat & Clean design</h5>
              <p>Etiam porta malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis.</p>
            </div>
            <!-- /.text -->
            <div class="divide20"></div>
            <div class="icon"> <img src="<%= gCDN+'/images/icons/icon-print.png' %>" data-src="<%= gCDN+'/images/icons/icon-print.png' %>" data-ret="<%= gCDN+'/images/icons/icon-print@2x.png' %>" class="retina" alt="" /> </div>
            <!-- /.icon -->
            <div class="text">
              <h5>Print Design</h5>
              <p>Etiam porta malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis.</p>
            </div>
            <!-- /.text --> 
            
          </div>
          <!-- /.services-2 --> 
          
        </div>
        <!-- /.col --> 
        
      </div>
      <!-- /.row --> 
      
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.light-wrapper -->
  
  <div class="parallax parallax1 customers">
    <div class="container inner text-center">
      <div class="testimonials owl-carousel thin">
        <div class="item">
          <blockquote>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur. Nullam dolor nibh ultricies vehicula elit vulputate tristique egestas.<small>Nikolas Brooten</small></p>
          </blockquote>
        </div>
        <!-- /.item -->
        <div class="item">
          <blockquote>
            <p>Cras justo odio, dapibus facilisis in, egestas eget quam. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod.<small>Coriss Ambady</small></p>
          </blockquote>
        </div>
        <!-- /.item -->
        <div class="item">
          <blockquote>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis id vestibulum. Donec sed odio dui. Sed posuere consectetur est at lobortis.<small>Barclay Widerski</small></p>
          </blockquote>
        </div>
        <!-- /.item -->
        <div class="item">
          <blockquote>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet.<small>Elsie Spear</small></p>
          </blockquote>
        </div>
        <!-- /.item --> 
      </div>
      <!-- /.testimonials --> 
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.parallax -->
  
  <div class="dark-wrapper">
    <div class="container inner">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <h3 class="section-title">Our Team</h3>
          <div class="lead bm25">meet the talents behind</div>
          <p>Maecenas sed diam risus varius blandit amet non magna. Nullam id dolor ultricies vehiculaelit praesent commodo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed  est at lobortis mattis consectetur purus.</p>
           </div>
        <!-- /.col -->
        <div class="col-md-9 col-sm-12">
          <div class="owl-posts team">
            <div class="item post">
              <figure><img src="<%= gCDN+'/images/art/team1.jpg' %>" alt="" /></figure>
              <div class="post-content">
                <h3 class="post-title">Nikolas Brooten</h3>
                <div class="biz-title">Sales Manager</div>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non.</p>
                <ul class="social">
                  <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                  <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                  <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
                  <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
                </ul>
              </div>
              <!-- /.post-content --> 
            </div>
            <!-- /.item -->
            <div class="item post">
              <figure><img src="<%= gCDN+'/images/art/team2.jpg' %>" alt="" /></figure>
              <div class="post-content">
                <h3 class="post-title">Coriss Ambady</h3>
                <div class="biz-title">Computer Engineer</div>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non.</p>
                <ul class="social">
                  <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                  <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                  <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
                  <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
                </ul>
              </div>
              <!-- /.post-content --> 
            </div>
            <!-- /.item -->
            <div class="item post">
              <figure><img src="<%= gCDN+'/images/art/team3.jpg' %>" alt="" /></figure>
              <div class="post-content">
                <h3 class="post-title">Barclay Widerski</h3>
                <div class="biz-title">Marketing Specialist</div>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non.</p>
                <ul class="social">
                  <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                  <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                  <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
                  <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
                </ul>
              </div>
              <!-- /.post-content --> 
            </div>
            <!-- /.item -->
            <div class="item post">
              <figure><img src="<%= gCDN+'/images/art/team4.jpg' %>" alt="" /></figure>
              <div class="post-content">
                <h3 class="post-title">Elsie Spear</h3>
                <div class="biz-title">Strategy Director</div>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non.</p>
                <ul class="social">
                  <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                  <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                  <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
                  <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
                </ul>
              </div>
              <!-- /.post-content --> 
            </div>
            <!-- /.item -->
            <div class="item post">
              <figure><img src="<%= gCDN+'/images/art/team5.jpg' %>" alt="" /></figure>
              <div class="post-content">
                <h3 class="post-title">Connor Gibson</h3>
                <div class="biz-title">Interface Designer</div>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non.</p>
                <ul class="social">
                  <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                  <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                  <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
                  <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
                </ul>
              </div>
              <!-- /.post-content --> 
            </div>
            <!-- /.item --> 
          </div>
          <!-- /.team --> 
        </div>
        <!-- /.col --> 
      </div>
      <!-- /.row --> 
      
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.dark-wrapper -->
  
  <% include ../partials/footer %>
  
</div>
<!-- /.body-wrapper --> 

<% include ../partials/scripts %>

</body>
</html>