<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body class="full-layout">
<div id="preloader"><div id="status"><div class="spinner"></div></div></div>
<div class="body-wrapper">
  <% include ../partials/navbar %>
  <div class="offset"></div>
  
  
  <div class="light-wrapper">
    <div class="container inner">
      
      <div class="row members">
          <h3 class="section-title text-center">Active Members</h3>
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="<%= gCDN+'/images/OTFall2018.jpg' %>" alt="Avatar">
            <h4 class="active-name"></br>Salvatore Alcaras</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="<%= gCDN+'/images/portraits/Emely Alvarez.jpg' %>" alt="Avatar">
            <h4 class="active-name"></br>Emely Alvarez</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="<%= gCDN+'/images/portraits/Victor Barahona.jpg' %>" alt="Avatar">
            <h4 class="active-name"></br>Victor Barahona</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="<%= gCDN+'/images/portraits/Joseph Beganskas.jpg' %>" alt="Avatar">
            <h4 class="active-name"></br>Joseph Beganskas</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="<%= gCDN+'/images/portraits/Rico Biggart.jpg' %>" alt="Avatar">
            <h4 class="active-name"></br>Rico Biggart</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="<%= gCDN+'/images/portraits/Alyssa Brower.jpg' %>" alt="Avatar">
            <h4 class="active-name"></br>Alyssa Brower</h4>
          </div>
      </div>
        
      <div class="row members">
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="<%= gCDN+'/images/portraits/Francesca Cardenas.jpg' %>" alt="Avatar">
            <h4 class="active-name"></br>Francesca Cardenas</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="<%= gCDN+'/images/OTFall2018.jpg' %>" alt="Avatar">
            <h4 class="active-name"></br>Catherine Cusack</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="<%= gCDN+'/images/portraits/Jed Donikyan.jpg' %>" alt="Avatar">
            <h4 class="active-name"></br>Jed Donikyan</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="<%= gCDN+'/images/portraits/Stephan Duroseau Photoshopped2.png' %>"" alt="Avatar">
            <h4 class="active-name"></br>Stephan Duroseau</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="<%= gCDN+'/images/portraits/Yulisa Frias.jpg' %>" alt="Avatar">
            <h4 class="active-name"></br>Yulisa Frias</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img style="object-position: 30% 30%;" class="active-profile" src="<%= gCDN+'/images/portraits/Aishu Ghandi.jpg' %>" alt="Avatar">
            <h4 class="active-name"></br>Aishu Gandhi</h4>
          </div>
      </div>

      <div class="row members">
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="<%= gCDN+'/images/portraits/Santos Garcia.jpg' %>" alt="Avatar">
            <h4 class="active-name"></br>Santos Garcia</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="<%= gCDN+'/images/portraits/Eduardo Guzman.jpg' %>" alt="Avatar">
            <h4 class="active-name"></br>Eduardo Guzman</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="<%= gCDN+'/images/OTFall2018.jpg' %>" alt="Avatar">
            <h4 class="active-name"></br>Jennifer Haidar</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="<%= gCDN+'/images/portraits/Tyrone Harmon.jpg' %>" alt="Avatar">
            <h4 class="active-name"></br>Tyrone Harmon</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="<%= gCDN+'/images/portraits/Lisa Hayford.jpg' %>" alt="Avatar">
            <h4 class="active-name"></br>Lisa Hayford</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="<%= gCDN+'/images/portraits/Jacob Hochendoner.jpg' %>" alt="Avatar">
            <h4 class="active-name"></br>Jacob Hochendoner</h4>
          </div>
      </div>

      <div class="row members">
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="<%= gCDN+'/images/OTFall2018.jpg' %>" alt="Avatar">
            <h4 class="active-name"></br>Olivette Kaikai</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="<%= gCDN+'/images/portraits/Dawson Kopp.jpg' %>" alt="Avatar">
            <h4 class="active-name"></br>Dawson Kopp</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="<%= gCDN+'/images/OTFall2018.jpg' %>" alt="Avatar">
            <h4 class="active-name"></br>Nick Lawson</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="<%= gCDN+'/images/portraits/William Lin.jpg' %>" alt="Avatar">
            <h4 class="active-name"></br>William Lin</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="<%= gCDN+'/images/portraits/Marisa Lombardo.jpg' %>" alt="Avatar">
            <h4 class="active-name"></br>Marisa Lombardo</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="<%= gCDN+'/images/portraits/Alex Lopez.jpg' %>" alt="Avatar">
            <h4 class="active-name"></br>Alex Lopez</h4>
          </div>
      </div>

      <div class="row members">
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="<%= gCDN+'/images/OTFall2018.jpg' %>" alt="Avatar">
            <h4 class="active-name"></br>Maria Lopez</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="<%= gCDN+'/images/portraits/David Mastalerz.jpg' %>" alt="Avatar">
            <h4 class="active-name"></br>David Mastalerz</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="<%= gCDN+'/images/portraits/Max Mogel.jpg' %>" alt="Avatar">
            <h4 class="active-name"></br>Max Mogel</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="<%= gCDN+'/images/portraits/Joanne Peragine2.jpg' %>" alt="Avatar">
            <h4 class="active-name"></br>Joanne Peragine</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="<%= gCDN+'/images/OTFall2018.jpg' %>" alt="Avatar">
            <h4 class="active-name"></br>Megan Richards</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="<%= gCDN+'/images/portraits/Renato Rodrigues.jpeg' %>" alt="Avatar">
            <h4 class="active-name"></br>Renato Rodrigues</h4>
          </div>
      </div>

      <div class="row members">
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="<%= gCDN+'/images/portraits/Rikki Rooklin Silly.jpg' %>" alt="Avatar">
            <h4 class="active-name"></br>Rikki Rooklin</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="<%= gCDN+'/images/portraits/Mirla Sales.jpg' %>" alt="Avatar">
            <h4 class="active-name"></br>Mirla Sales</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="<%= gCDN+'/images/portraits/Nikos Stathopoulos.jpg' %>" alt="Avatar">
            <h4 class="active-name"></br>Nikos Stathopoulos</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="<%= gCDN+'/images/portraits/Cassandra Strange.jpg' %>" alt="Avatar">
            <h4 class="active-name"></br>Cassandra Strange</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="<%= gCDN+'/images/OTFall2018.jpg' %>" alt="Avatar">
            <h4 class="active-name"></br>Scott Stubbs</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="<%= gCDN+'/images/OTFall2018.jpg' %>" alt="Avatar">
            <h4 class="active-name"></br>Reenu Thomas</h4>
          </div>
      </div>
     
      <div class="row members">
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="<%= gCDN+'/images/portraits/Bridget Weston.jpg' %>" alt="Avatar">
            <h4 class="active-name"></br>Bridget Weston</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="<%= gCDN+'/images/portraits/Tony Williams.jpg' %>" alt="Avatar">
            <h4 class="active-name"></br>Tony Williams</h4>
          </div>
      </div>
      
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.light-wrapper -->
  
  
  <% include ../partials/footer %>
  
</div>
<!-- /.body-wrapper --> 

<% include ../partials/scripts %>

</body>
</html>